*{
box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN HEADER ***************************************************************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #89B8A7;
  border-bottom: 1px solid slategrey;
  padding: 1rem;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header h1 a {
  text-decoration: none;
}


/* NAV ***************************************************************/



#admin-login{
  display: none;
}

#admin{
  display: none;
}

input:checked ~ #admin-login{
  display: block;
}

#menu{
  display: none;
}


.menu-options{
  display: none;
  top: 4em;
  right: 1rem;
  background: #ccc;
  padding: 1rem;
  transition: all 500ms;
  list-style: none;
  position: absolute;
}

input:checked ~ .menu-options{
  display: flex;
  flex-direction: column;
}


nav label{
text-align: right;
cursor: pointer;
z-index: 1;
margin: 0.5rem;
}


#menudiv li{
  align-items: center;
}

#menudiv li a{
background: #fff;
color: #000;
text-decoration: none;
box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
display: block;
width: auto;
position: relative;

}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* CONTENT ***************************************************************/


main {
  flex: 1;
  padding: 1rem;
  width: 100%;
}

section {
  /* border: 1px solid red; */
  margin-bottom: 3rem;
}

article{
    /* display: flex;
    justify-content: space-between; */
}


#staff div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

#staff article {
  width: 100%;
  max-width: 12rem;
  /* display: inline-block;
  margin: 1rem;
  width: 30%;
  padding: 0.5rem;
  background-color: #fff; */
}

#bookings{
  background-color: #A9CBAE;
  padding: 1rem;
  border-radius: 20px;
}

#reviews div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#reviews article {
  width: 100%;
  font-size: 0.8rem;
  max-width: 12rem;
  background-color: lightcyan;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-weight: bold;
}


summary::after {
  content: '';
  width: 18px;
  height: 10px;
  background: url('images/arrow.svg') no-repeat;
  background-size: cover;
  transition: 0.2s;
}
details[open] > summary::after {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details p {
  margin: 0;
}

details {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
}

/* extra styles */

/* article > *:first-child {margin: 0;}
article > * + * {margin: 0.75em 0 0 0;}
article {padding: 0px; margin: 0;} */



.error {
  background: #eec6c6;
  color: #0c0101;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;

}
/*star rating////////////////////////////////////////////////////*/
span.star.blank {
  color: black;
}

span.star.full {
  color: orange;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}