/* Dropdown Button */
.dropbtn {
    border: none;
    float: right;
  }
  
  .dropbtn img{
    height: 2rem;
    width: auto;

}

header{
  display: flexbox;
  justify-content: space-between;
}

article{
    display: flex;
    justify-content: space-between;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  #staffmember{
    display: inline-block;
    margin: 1rem;
    width: 30%;
    padding: 0.5rem;
    background-color: #fff;
  }

  #bookings{
    background-color: #A9CBAE;
    padding: 1rem;
    border-radius: 20px;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-weight: bold;
  }
  

  summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('images/arrow.svg') no-repeat;
    background-size: cover;
    transition: 0.2s;
  }
    summary a{
    background-color: red;
  }
  
  details[open] > summary::after {
    transform: rotate(180deg);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  details p {
    margin: 0;
  }
  
  details {
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem;
  }
  
  /* extra styles */
  
  * {box-sizing: border-box;}
  body {font-family: system-ui, sans-serif; background: #fff;}
  h1 {font-size: 1.2em;}
  article > *:first-child {margin: 0;}
  article > * + * {margin: 0.75em 0 0 0;}
  article {padding: 0px; margin: 0;}