@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    
}

body main{
  padding: 0.5rem;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* MAIN HEADER ***************************************************************/

 /* Default styles */
#title {
  display: block;
}
#title-img {
  display: none;
}

/* Media query for screens less than 600px */
@media only screen and (max-width: 600px) {
  #title {
      display: none;
  }
  #title-img {
    display: block;
    position: absolute;
    width: 4rem;
    top: 0.3rem;
    left: 0;
    margin: 10px; /* Optional: Adjust margin as needed */
    background-color:#A9CBAE ;
    border-radius: 0.7rem;
  }
}

#hero_image{
  background-image: url("images/bakgroundhome.webp");
  background-color: #aaaaaa;
  height: 20rem;
  background-position: center;
  background-size: cover;
}
#service_hero_image{
  position: relative;
  /* height: 20rem; */
  background-position: center;
  background-size: cover;
  z-index: -9;
}

#hero_text h1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  font-size: 3rem;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}

#service_hero_text{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

}
#service_hero_text h1{
  font-size: 3rem;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  text-shadow: 0 0.1em 0.2em #000;
  margin: 0;
}

body header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #89B8A7;
  border-bottom: 1px solid slategrey;
  padding: 0.5rem;
  width: 100%;
}

h1{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header h1 a {
  padding-left: 1rem;
  text-decoration: none;
  
}


/* NAV ***************************************************************/



#admin-login{
  display: none;
}

#admin{
  display: none;
}

input:checked ~ #admin-login{
  display: block;
}

#menu{
  display: none;
}

#services li{
  list-style-type: none;
}

#services a{
  display: flex;
  text-decoration: none;
  color: black;
  background-color: #a2916593;
  width: 100%;
  border-radius: 4px;
  padding: 0.1rem 0.2rem;
}

.menu-options{
  z-index: 59999999999;
  display: none;
  top: 3em;
  right: 0.5rem;
  background: #89B8A7;
  padding: 0.5rem;
  transition: all 500ms;
  list-style: none;
  position: absolute;
}

input:checked ~ .menu-options{
  display: flex;
  flex-direction: column;
}


nav label{
text-align: right;
cursor: pointer;
z-index: 1;
margin: 0.5rem;
}


#menudiv li{
  align-items: center;
  padding: 0.3rem;
  width: 100%;
  
}

#menudiv li a{
background: #fff;
color: #000;
text-decoration: none;
box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
display: block;
width: auto;
position: relative;
padding: 0 0.2rem;
border-radius: 0.5rem;
}

#menudiv li:last-child{
  padding-bottom: 0rem;
  height:1rem;
}


/* CONTENT ***************************************************************/


section {
  /* border: 1px solid red; */
  margin-bottom: 3rem;
}

details{
  text-align: left;
}

#about{
  background-color: #a9cbae8a;
}

#contact{
  background-color: #87b6a5d7;
}


#staff div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

#staff article {
  width: 100%;
  max-width: 12rem;
}

#bookings{
  background-color: #A9CBAE;
  padding: 1rem;
  border-radius: 20px;
}

#reviews div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#reviews article {
  
  width: 100%;
  font-size: 0.8rem;
  background-color: #a291655b;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-weight: bold;
}


summary::after {
  content: '';
  width: 18px;
  height: 10px;
  background: url('images/arrow.svg') no-repeat;
  background-size: cover;
  transition: 0.2s;
}
details[open] > summary::after {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details p {
  margin: 0;
}

details {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
}

.rule_below{
  padding-bottom: 0.2rem;
  border-bottom: #000000 1px solid;
}

.error {
  background: #eec6c6;
  color: #0c0101;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;

}

#siteplan{
  width: 1rem;
  height: auto;
}


label{
  text-align: left;
}
/*star rating////////////////////////////////////////////////////*/
span.star.blank {
  color: rgba(73, 73, 73, 0.753);
  font-size: 1.5rem;
}

span.star.full {
  color: orange;
  font-size: 1.5rem;
}
.rate {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    height: 3rem;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}